extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} #{proyecto.nombre}
        pre #{vardump(proyecto)}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input(type="text" name="tarea" placeholder="Nombre de la tarea")
            .campo-enviar
                input(type="submit" value="Agregar" class="boton")

        .listado-pendientes
            ul
                if tareas.length
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p #{tarea.tarea}
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p Este proyecto aún no tiene tareas definidas.

        //- Avance del proyecto
        .avance
            h2 Avance del proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje

        //- Acciones que se pueden realizar
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar proyecto